In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
sns.set(font_scale=1.5)

import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'
%matplotlib inline
plt.style.use('fivethirtyeight')

In [2]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import AgglomerativeClustering

In [3]:
amazon_books = pd.read_csv('../data-sources/amazon-bestsellers/amazon-bestsellers.csv')
amazon_books.columns = ['name', 'author', 'rating', 'reviews', 'price', 'year', 'genre']
amazon_books.head()

,name,author,rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [4]:
le = LabelEncoder()
amazon_books['genre'] = le.fit_transform(amazon_books['genre'])

In [5]:
amazon_books.head()

,name,author,rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,0
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,1
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,0
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,1

In [6]:
amazon_books = pd.get_dummies(amazon_books, columns=['author'], drop_first=True)
amazon_books.head()

,name,rating,reviews,price,year,genre,author_Adam Gasiewski,author_Adam Mansbach,author_Adir Levy,author_Admiral William H. McRaven,...,author_Todd Burpo,author_Tony Hsieh,author_Tucker Carlson,author_Veronica Roth,author_W. Cleon Skousen,author_Walter Isaacson,author_William Davis,author_William P. Young,author_Wizards RPG Team,author_Zhi Gang Sha
0,10-Day Green Smoothie Cleanse,4.7,17350,8,2016,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11/22/63: A Novel,4.6,2052,22,2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12 Rules for Life: An Antidote to Chaos,4.7,18979,15,2018,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1984 (Signet Classics),4.7,21424,6,2017,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"5,000 Awesome Facts (About Everything!) (Natio...",4.8,7665,12,2019,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
scalable_cols = amazon_books[['rating', 'reviews', 'price', 'year']]
scaler = StandardScaler()
scalable_cols = pd.DataFrame(scaler.fit_transform(scalable_cols), columns=scalable_cols.columns)
scalable_cols.head()

     rating   reviews     price      year
0  0.359990  0.460453 -0.470810  0.632456
1 -0.080978 -0.844786  0.821609 -0.948683
2  0.359990  0.599440  0.175400  1.264911
3  0.359990  0.808050 -0.655441  0.948683
4  0.800958 -0.365880 -0.101547  1.581139

In [8]:
amazon_books[['rating', 'reviews', 'price', 'year']] = scalable_cols

In [9]:
amazon_books

,name,rating,reviews,price,year,genre,author_Adam Gasiewski,author_Adam Mansbach,author_Adir Levy,author_Admiral William H. McRaven,...,author_Todd Burpo,author_Tony Hsieh,author_Tucker Carlson,author_Veronica Roth,author_W. Cleon Skousen,author_Walter Isaacson,author_William Davis,author_William P. Young,author_Wizards RPG Team,author_Zhi Gang Sha
0,10-Day Green Smoothie Cleanse,0.359990,0.460453,-0.470810,0.632456,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11/22/63: A Novel,-0.080978,-0.844786,0.821609,-0.948683,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12 Rules for Life: An Antidote to Chaos,0.359990,0.599440,0.175400,1.264911,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1984 (Signet Classics),0.359990,0.808050,-0.655441,0.948683,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"5,000 Awesome Facts (About Everything!) (Natio...",0.800958,-0.365880,-0.101547,1.581139,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),1.241926,-0.216739,-0.470810,1.581139,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
546,You Are a Badass: How to Stop Doubting Your Gr...,0.359990,0.202869,-0.470810,0.632456,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
547,You Are a Badass: How to Stop Doubting Your Gr...,0.359990,0.202869,-0.470810,0.948683,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
548,You Are a Badass: How to Stop Doubting Your Gr...,0.359990,0.202869,-0.470810,1.264911,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
549,You Are a Badass: How to Stop Doubting Your Gr...,0.359990,0.202869,-0.470810,1.581139,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
clustering_model = AgglomerativeClustering(n_clusters=1, affinity='euclidean', linkage='ward', compute_distances=True)
clustering_model.fit(amazon_books.iloc[:, 1:])

AgglomerativeClustering(compute_distances=True, n_clusters=1)

In [12]:
clustering_model.distances_

array([ 0.03481091,  0.09231564,  0.0932103 ,  0.27694691,  0.28254608,
        0.28823978,  0.30118265,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.31622777,  0.31622777,  0.31622777,  0.31622777,  0.31622777,
        0.33727338,  0.35760308,  0.39962402,  0.42045648,  0.42161816,
        0.4242045 ,  0.43765407,  0.44543772,  0.48650293,  0.49610032,
        0.52397221,  0.53849121,  0.54772256,  0.54772256,  0.54772256,
        0.54772256,  0.54772256,  0.54772256,  0.54772256,  0.54772256,
        0.54772256,  0.54772256,  0.54772256,  0.54772256,  0.54772256,
        0.54772256,  0.54772256,  0.54772256,  0.54772256,  0.54772256,
        0.54772256,  0.54772256,  0.54772256,  0.54772256,  0.54772256,
        0.54772256,  0.54772256,  0.54772256,  0.54772256,  0.54772256,
        0.54772256,  0.54772256,  0.54772256,  0.55600243,  0.55794876,
        0.55799902,  0.56550312,  0.5764951 ,  0.58683436,  0.61999542,
        0.62946094,  0.63063485,  0.63245553,  0.63245553,  0.63245553,
        0.64298728,  0.65651947,  0.66237762,  0.66311727,  0.66993192,
        0.69208322,  0.69412279,  0.69882029,  0.7410086 ,  0.74810693,
        0.74868977,  0.75952316,  0.77459667,  0.77459667,  0.78013933,
        0.7805021 ,  0.78115143,  0.82129667,  0.84205968,  0.8819384 ,
        0.89442719,  0.89442719,  0.89442719,  0.89442719,  0.89442719,
        0.89442719,  0.89442719,  0.89442719,  0.89442719,  0.89442719,
        0.90465126,  0.90612533,  0.96156926,  0.99629638,  1.04297395,
        1.04882176,  1.05906314,  1.06357107,  1.07037137,  1.10264079,
        1.12956481,  1.15506862,  1.161895  ,  1.161895  ,  1.161895  ,
        1.16209727,  1.18030623,  1.19990736,  1.22457414,  1.22474487,
        1.22474487,  1.22474487,  1.22474487,  1.22474487,  1.22474487,
        1.22474487,  1.22474487,  1.22474487,  1.24106725,  1.28527121,
        1.29620863,  1.31611414,  1.32128683,  1.3642936 ,  1.36785166,
        1.41416148,  1.41451106,  1.41722501,  1.41732716,  1.41773648,
        1.42077888,  1.42386508,  1.42400779,  1.42634632,  1.42795078,
        1.42893027,  1.42944349,  1.43043095,  1.4304645 ,  1.43321997,
        1.43748802,  1.4378332 ,  1.43867518,  1.43985937,  1.4411992 ,
        1.44208435,  1.44253602,  1.44273614,  1.4443834 ,  1.44992311,
        1.45160229,  1.45212426,  1.45422196,  1.45475921,  1.45545475,
        1.46077853,  1.46647732,  1.46727953,  1.46762082,  1.4686987 ,
        1.4691724 ,  1.46978321,  1.47008719,  1.4701345 ,  1.47321085,
        1.47533873,  1.47632027,  1.47975092,  1.48335367,  1.48456363,
        1.48526757,  1.48587425,  1.48696914,  1.48727872,  1.48945083,
        1.49097299,  1.49288125,  1.49408754,  1.49547577,  1.49837086,
        1.49989287,  1.50807732,  1.51162679,  1.51412497,  1.51647227,
        1.51792404,  1.51805951,  1.51998171,  1.52001467,  1.52244544,
        1.52284832,  1.53324465,  1.5345907 ,  1.54314318,  1.54919334,
        1.54976601,  1.55524375,  1.55540057,  1.55743559,  1.55954774,
        1.56022628,  1.56251567,  1.5630998 ,  1.56972458,  1.57195389,
        1.57437381,  1.57534199,  1.58102571,  1.59356566,  1.59837538,
        1.62120824,  1.63145377,  1.63401069,  1.64488803,  1.64519022,
        1.64602632,  1.64733495,  1.64757704,  1.6480868 ,  1.6496753 ,
        1.64992251,  1.65603917,  1.67315292,  1.67829278,  1.68629346,
        1.68960421,  1.69283757,  1.70042477,  1.70277105,  1.70452013,
        1.71370946,  1.71861294,  1.7213231 ,  1.7377681 ,  1.75594018,
        1.76219312,  1.76279246,  1.7928051 ,  1.80423639,  1.81366994,
        1.81687734,  1.82640178,  1.82682304,  1.83391246,  1.83608174,
        1.84438424,  1.84933466,  1.85130146,  1.8557961 ,  1.85858651,
        1.86063228,  1.87082869,  1.89078732,  1.90302334,  1.90501076,
        1.90628917,  1.9103551 ,  1.91510152,  1.91865355,  1.92018337,
        1.92117591,  1.93589999,  1.94455178,  1.94514536,  1.94937308,
        1.94937747,  1.94950128,  1.95201557,  1.95332644,  1.95353553,
        1.95534841,  1.95992218,  1.98111225,  2.00451068,  2.00889845,
        2.02047854,  2.02607307,  2.04850655,  2.04898863,  2.04939015,
        2.05239891,  2.0565657 ,  2.07075984,  2.07120553,  2.08981833,
        2.1087634 ,  2.11445816,  2.11708295,  2.11728631,  2.11916409,
        2.12381982,  2.13039708,  2.13970916,  2.17653769,  2.17733631,
        2.18009962,  2.18210737,  2.21196977,  2.22191466,  2.22605916,
        2.23198782,  2.23703545,  2.2411625 ,  2.25709047,  2.28212049,
        2.2851506 ,  2.2953047 ,  2.29581182,  2.30108046,  2.30317539,
        2.32385597,  2.34748012,  2.34756166,  2.36050509,  2.36604302,
        2.3727944 ,  2.3852585 ,  2.43055856,  2.44803497,  2.46006217,
        2.46345369,  2.46740269,  2.4779149 ,  2.49074388,  2.4940325 ,
        2.49828764,  2.50171268,  2.52269519,  2.52982213,  2.53083088,
        2.56445367,  2.56617651,  2.62251205,  2.62436959,  2.63979759,
        2.64446907,  2.64920411,  2.65934967,  2.68047534,  2.6898383 ,
        2.72124603,  2.79922054,  2.80473581,  2.8203299 ,  2.82508655,
        2.83728177,  2.84703291,  2.86686101,  2.87442335,  2.89629252,
        2.90990048,  2.96877305,  2.97657929,  3.        ,  3.01884798,
        3.0667593 ,  3.07235529,  3.11837252,  3.13945581,  3.14697634,
        3.18275365,  3.20242817,  3.21925719,  3.24037035,  3.25608132,
        3.26309828,  3.33747507,  3.35489957,  3.38242547,  3.38289093,
        3.39856114,  3.44089033,  3.48738353,  3.49959661,  3.5052494 ,
        3.50677926,  3.51687648,  3.53649106,  3.61281242,  3.65772699,
        3.66543199,  3.66900007,  3.67230063,  3.70265823,  3.71866258,
        3.73774585,  3.86615319,  3.89927824,  3.92789536,  3.94371869,
        4.01823829,  4.07372031,  4.10258032,  4.11719555,  4.4142021 ,
        4.50537903,  4.50944873,  4.58081229,  4.64471959,  4.74424888,
        4.78338855,  4.78531893,  4.86456157,  5.13459402,  5.21242445,
        5.90171157,  5.94124405,  6.09918917,  6.18977106,  6.45561333,
        6.61888317,  6.67264536,  6.68918341,  7.65311653,  7.81796431,
        8.44441714,  8.75032426,  8.93270107,  9.58309827, 10.13901268,
       10.51576877, 10.69923354, 11.32410428, 11.55637432, 15.54090413,
       18.78937144, 21.7727599 , 24.020677  , 32.43667609])